  body {
      font: 400 15px/1.8 Lato, sans-serif;
      color: #777;
  }

  #myCarousel {
  	height: 120vh;
  }

  .carousel-inner{
  	height: 120vh;
  }
  .carousel-inner img {
      -webkit-filter: grayscale(90%);
      filter: grayscale(90%); /* make all photos black and white */ 
      width: 100%; /* Set width to 100% */
      margin: auto;

  }
  .carousel-caption p{
  	color: #fff !important;
      margin-bottom: 270px;
      font-family: 'Roboto',sans-serif;
  	font-size: 20px;
  }
.carousel-caption h2{
	color: #fff !important;
      margin-bottom: 350px;
      font-size:50px;
font-family: 'Indie Flower', cursive;}
  .carousel-caption h3{
      color: #fff !important;
      margin-bottom: 20px;
            font-family: 'Roboto',sans-serif;
      font-size: 27px;      
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }


/*Navbar*/
.navbar li a, .navbar .navbar-brand { 
      color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
      color: #fff !important;
  }
  .navbar-nav li.active a {
      color: #fff !important;
      background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
  }
    .navbar-brand {
  font-family: 'Indie Flower', cursive;
  font-size: 21px !important;
  padding-left: 18px;	
  }
   .navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2d2d30;
      border: 0;
      font-size: 12px !important;
      letter-spacing: 4px;
      opacity: 1;
  }

  /* --X--*/



/*home*/
.home_grids_w3,.grid_w3l {
	padding:0;
 }
.gallery_grid {
	margin: 0 0;
}
.grid_w3l img {
	width:100%;
}
.img1,.img2,.img3,.img4,.img5,.img6{
	padding:0;
	background-size: cover !important;
	filter: grayscale(80%) !important;
}
.img1 {
	background: url(5.jpeg) center;
}
 .img2 {
	background: url(2.jpg) center;
}
.img3 {
	background: url(3.jpeg) center;
}
.img4 {
	background: url(5.jpeg) center; 
}
.img5 {
	background: url(6.jpg) center;
}
.img6 {
	background: url(4.jpeg) center;
}
.img_text_w3ls {
    padding: 9.15em 0;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	/*background-color: #cccccc;*/
}
.img5 .img_text_w3ls,.img1 .img_text_w3ls{
	background: rgba(220,220, 220, 0.7);
	height: 480px !important; 
}
.img2 .img_text_w3ls,.img3 .img_text_w3ls{
	background: rgba(100, 100, 100, 0.7);
	height: 480px !important; 

}

.img6 .img_text_w3ls{
	background: rgba(170, 170, 170, 0.7);
	height: 480px !important; 
}
.img4 .img_text_w3ls{
	background: rgba(90, 90, 90, 0.7);
	height: 480px !important; 
}
.img_text_w3ls h4 {
	color: #fff;
	font-size: 3em;
	margin: 0;
	font-weight: 700;
	text-transform: capitalize;
	letter-spacing: 2px;
	font-family: 'Roboto' , sans-serif;
}
.img_text_w3ls span {
    width: 30%;
    height: 1px;
    background: rgba(255, 255, 255, 0.29);
    display: inline-block;
    margin: 1.5em 0 0.5em;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.img-grid:hover .img_text_w3ls span {
    width: 50%;
}
.img_text_w3ls p {
	color: #fff;
	font-size: 1.3em;
	margin: 0.5em;
	letter-spacing: 2px;
	text-transform: capitalize;
	font-weight: 400;
}
.img-grid:hover .img_text_w3ls {
    background: rgba(217, 217, 217, 0.2);
}
/*home end*/

