body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.top-nav{
  background-color: #202020;
  height: 160px;
  padding: 0 20vw !important;
}

.navbar-brand{
  font-size: 2rem !important;
  font-family: roboto;
  font-weight: 500 !important;
}

.logo{
  width: 36px;
  margin-right: 20px;
}

* {
  box-sizing: border-box !important;
}

.viewport{
  padding: 0 0 10px 0!important;
  background-color: #202020;
  color: white;
}

.lead h1{
  font-size: 4rem;
  font-family: Roboto;
  font: roboto;
  font-weight: 700 ;
}


.lead p{
  font-size: 1.5rem;
  font-family: Roboto;
  font: roboto;
  font-weight: 400 ;
}

.banner{
  padding: 60px 20vw 0 20vw !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 800px !important; */
  box-sizing: border-box;

}

.elevator {
  background-color: #1a1a1a;
  border-radius: 4px;
  padding: 1rem !important;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 350px;
}

.my-image{
  width: 60%;
  margin : 10px 20px;
  border-radius: 50%;
}

.email-cta{
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffd479 !important;
  font-size: 1.25rem !important;
  font-weight: 500 ;
  margin-bottom: 12px !important;

}

.email-cta-2 {
  background-color: #ffd479 !important;
  border: none !important;
  color: #000000 !important;
  font-size: 1.25rem !important;
  font-weight: 500 ;
  margin-bottom: 12px !important;
  margin-right: 2rem !important;

}
.email-cta-3 {
  background-color: #ffd479 !important;
  border: none !important;
  color: #000000 !important;
  font-size: 0.75rem !important;
  margin-right: 1rem !important;
  padding: 3px 6px !important;

}
.elevator p{
  padding: 12px 0px;
  text-align: center;
  font-family: roboto;
  font-size: 1.2rem;
}

.logo-icon{
  width: 70%;
}

.list-container{
    padding: 30px 20vw 0 20vw !important;
    margin-top: 0px;
}

.list-container h1{
  margin-top: 60px;
  padding-bottom: 40px;
  font-size: 2.5rem;
  color: #ffd479;
  font-family: roboto;
  font-weight: 700 !important;
}

.project-item{
  padding: 1rem 0.5rem;
  border: 1px solid;
  border-color: transparent transparent #181818 transparent;
}


.navbar-nav a{
  font-size: 1.25rem !important;
  padding: 0 .8rem !important;
  color: #616161 !important;
}

.navbar-nav a:hover{
  text-decoration: none;
  color: #949494 !important;
}

.intro{
  margin-top: 30px;
}
.intro h1{
  font-size: 3rem;
  font-family: Roboto;
  font: roboto;
  font-weight: 700 ;
}


.intro p{
  font-size: 1.25rem;
  font-family: Roboto;
  font: roboto;
  font-weight: 400 ;
  padding-top: 1.25rem;
}

.about{
  padding: 60px;
}

.about ul {
  padding: 10px 0 30px 10px;
  font-size: 1.5rem;
  font-family: Roboto;
  font-weight: 300 !important;
  line-height: 2.5rem;
}

.about h2{
  margin-left: -20px;
  padding: 30px 0 0;
  font-size: 2.5rem;
  font-family:roboto;
  font-weight: 600 !important;
  color: #ffd479;
}

.footer{
  padding: 80px 10vw 0 20vw !important;
}

.footer svg{
  margin-right: 1.5em;
}

.note{
  margin: 50px 0;
}

