html{
  background-color: #202020;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202020;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container{
  width: 100%;
}

.nav-container-2{
  position: fixed !important;
  top: 0 ;
  width: 100vw !important;
  background-color: #1a1a1a !important;
  padding: 0 0 !important;
  z-index: 2 !important;
}

.top-nav{
  background-color: #202020;
  height: 180px;
  padding: 0 0 !important;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  font-family: Lato;
  font-weight: 500 !important;
}

.top-nav-2{
  background-color: #1a1a1a !important;

  width: 100%;
  height: 80px;
  padding: 0 0 !important;
  max-width: 960px;
  margin: 0 auto;
  font-family: Lato;
  font-weight: 500 !important;
}

.navbar-brand{
  font-size: 1.5rem !important;
  font-family: Lato;
  font-weight: 600 !important;
  letter-spacing: 0.5px;
  opacity: 80%;
}

.logo{
  width: 36px;
  margin-right: 20px;
}



* {
  box-sizing: border-box !important;
}

.viewport{
  padding: 0 0 10px 0!important;
  background-color: #202020;
  color: white;
}


.lead h1{
  font-size: 4rem;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 6rem;
  font-weight: 700 ;
}


.lead p{
  font-size: 1.5rem;
  font-family: Lato;
  font-weight: 400 ;
}

.banner{
  padding: 60px 0 !important;
  max-width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* max-width: 800px !important; */
  box-sizing: border-box;

}

.elevator {
  background-color: #1a1a1a;
  border-radius: 2px;
  padding: 2rem 1rem 2rem 1rem!important;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 2.5rem;
  min-width: 320px !important;
}

.my-image{
  width: 60%;
  margin : 10px 20px;
  border-radius: 50%;
}

.email-cta{
  background-color: #000000 ;
  color: #ffd479 ;
  border: none ;
  font-size: 1rem ;
  margin-bottom: 12px ;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-weight: 600 ;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 2px !important;
  cursor: pointer;
  box-sizing: border-box;
}

button :focus{
  outline: none !important;
}

.email-cta-2 {
  background-color: #ffd479 ;
  color: #000000 ;
  font-size: 1rem ;

  margin-bottom: 12px ;
  margin-right: 20px ;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  text-align: center;
  font-weight: 600 ;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 2px !important;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.email-cta-3 {
  background-color: #ffd479 ;
  border: none ;
  color: #000000 ;
  font-size: 1rem ;
  margin-right: 1rem ;
}

.elevator p{
  padding: 12px 0px;
  text-align: center;
  font-family: "Lato";
  font-size: 1.1rem;
  margin-bottom: 1.5rem !important;
  font-weight: 500;
}

.logo-icon{
  width: 80%;
  float: left;
  padding-bottom: 10px;
  position: relative;
}

.project-title{
  padding: 0 0.5rem !important;
}

.project-title-2{
  padding: 0 0.5rem !important;
}

.project-title-2 h6{
  font-size: 1rem !important;
  font-weight: 700;
  font-family: "Raleway";
}

.project-title h6{
  font-size: 1rem !important;
  font-weight: 700 !important;
  font-family: "Raleway";
}

.list-container{
    padding: 30px 0 0 0 !important;
    max-width: 960px;
    margin-top: 0px;
}


.list-container h1{
  padding-left: 8px;
  margin-top: 60px;
  padding-bottom: 20px;
  font-size: 2.5rem;
  color: #ffd479;
  font-family: Lato;
  font-weight: 700 !important;
}

.project-item{
  padding: 1rem 0.5rem 0.5rem 0;
  border: 1px solid;
  border-color: transparent transparent #111111 transparent;
  display: flex;
  align-items: center;
}

.project-item p{
  padding-left: 10px;
}

.navbar-nav a{
  font-size: 1.25rem !important;
  padding: 0 .8rem !important;
  color: #727272 !important;
}

.navbar-nav a:hover{
  text-decoration: none;
  color: #949494 !important;
}

.intro{
  margin-top: 30px;
}
.intro h1{
  font-size: 3rem;
  font-family: Lato;
  font: Lato;
  font-weight: 700 ;
}


.intro p{
  font-size: 1.25rem;
  font-family: Lato;
  font: Lato;
  font-weight: 400 ;
  padding-top: 1.25rem;
}

.about{
  padding: 60px;
  padding-bottom: 0px;
}

.about ul {
  padding: 10px 0 30px 10px;
  font-size: 1.25rem;
  font-family: Roboto;
  font-weight: 300 !important;
  line-height: 2.5rem;
  list-style: none;
}

.about ul li::before{
  content: "\2022";
  color: #b3b9c5;
  font-weight: 700; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */

  font-size: x-large;
}

.about h2{
  margin-left: -20px;
  padding: 30px 0 0;
  font-size: 2.5rem;
  font-family:"Raleway" ;
  font-weight: 600 !important;
  color: #ffd479;
}

.footer{
  padding: 120px 10vw 0 20vw !important;
}

.footer svg{
  margin-right: 1.5em;
}

.note{
  margin-bottom: 70px;
}

a{
  color: #cecece !important;
  text-decoration: none !important;
}

a :hover{
  text-decoration: none !important;
}

.about ul li a{
  color: #5c9bdd !important;
  font-weight: 600;
}

.setup li{
  font-weight: 500 ;
}